langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
PymuPdf
wikipedia
langchain-text-splitters
python-dotenv
langchain-openai
chromadb
langchain-community
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-openai
beautifulsoup4
streamlit
